<h1>My lists</h1>

<ul>
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key, height: 300, crop: :fill %>)">
      <li><%= link_to list.name, list_path(list) %></li>
    </div>
  <% end %>
</ul>

<p><%= link_to "+create a movie list", new_list_path %></p>
